@media (min-width: 1024px) {
  img {
    margin-left: '50%';
    margin-top: '3%';
  }
  .clients {
    font-size: '3rem';
    padding-top: '10px';
    left: '7%';
  }
}
@media (max-width: 800px) {
  .clients {
    font-size: '20rem';
    padding-top: '10px';
    left: '7%';
  }
  #dermo {
    margin-left: ;
  }
}
@media (max-width: 420px) {
}
